

pre {
  text-align: left;
}

.App {
  text-align: center;
  background-color: rgb(255, 188, 208);
}

h1 {
  color: rgb(245, 221, 88);
    -webkit-text-stroke: 2px black;
    font-size: 5em;
}
/* 
.TopHeader{
  border-bottom: solid black;
} */